@model IEnumerable<DemoMVC.Models.Employee>
<p>
    <a class="btn btn-success" asp-action="Create">Create new Employee</a>
</p>
<table class="table table-all">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EmployeeID)</td>
            <td>@Html.DisplayFor(m => item.EmployeeName)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Sửa</a>|
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Xóa</a>

            </td>
        </tr>
    }
</table>
